.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.gradient {
  background: #c282f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c282f2), color-stop(12%, #840bed), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c282f2', endColorstr='#9215f2', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(to bottom, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* W3C */
}
body {
  min-width: 1300px;
  background: #c282f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c282f2), color-stop(12%, #840bed), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c282f2', endColorstr='#9215f2', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(to bottom, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* W3C */
  background-repeat: no-repeat;
}
body > footer {
  padding-top: 25px;
  color: white;
  clear: both;
  text-align: center;
}
#logo-container {
  float: left;
  margin-top: -20px;
  display: block;
  padding-right: 400px;
}
#logo-container img {
  width: 300px;
}
#reg-form-container {
  float: right;
  margin-top: 10px;
}
#reg-form-container label {
  margin: 5px;
  display: inline-block;
  font-size: 12px;
  color: white;
}
#reg-form-container input {
  width: 120px;
  margin-right: 38px;
  float: right;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #9A4DD4;
  background-color: #B35EF3;
  outline: none;
}
#reg-form-container #btn-register {
  border: 2px outset;
  border-radius: 8px;
  border-right-color: #753B9F;
  border-bottom-color: #753B9F;
  border-left-color: #B983E1;
  border-top-color: #B983E1;
  background-color: #b15cf1;
  margin-top: 2px;
  margin-left: -2px;
  font-size: 12px;
  color: white;
  outline: none;
  width: 70px;
  height: 25px;
}
#reg-form-container #btn-register:active {
  border: inset;
  border-left-color: #753B9F;
  border-top-color: #753B9F;
  border-right-color: #B983E1;
  border-bottom-color: #B983E1;
}
nav ul#main-nav-list {
  list-style-type: none;
  border: 2px solid #4E0E81;
  margin-left: 20px;
  margin-top: 8px;
  padding-left: 15px;
  display: block;
  border-radius: 10px;
  float: left;
  width: 1028px;
  height: 37px;
}
nav ul#main-nav-list li {
  display: inline-block;
  padding: 7px;
  padding-top: 10px;
}
nav ul#main-nav-list li a {
  color: white;
  text-decoration: none;
}
nav ul#main-nav-list li ul {
  display: none;
}
nav ul#main-nav-list li:hover ul {
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  background: #c282f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c282f2), color-stop(12%, #840bed), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c282f2', endColorstr='#9215f2', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(to bottom, #c282f2 0, #840bed 12%, #9215f2 100%);
  /* W3C */
  padding: 0;
}
nav ul#main-nav-list li:hover ul li {
  display: block;
  border-bottom: 1px solid #4E0E81;
}
nav ul#main-nav-list li:hover ul li a {
  display: block;
}
section {
  float: left;
}
section article {
  border: 2px solid #4E0E81;
  border-radius: 10px;
  height: 118px;
  width: 980px;
  font-size: 13px;
  line-height: 15px;
  margin-top: 21px;
  margin-left: 8px;
  padding: 10px;
}
section article footer {
  text-align: right;
  margin-top: -40px;
  font-size: 15px;
  display: block;
}
section article footer a {
  color: #AB51F5;
  text-decoration: none;
}
section article h1 {
  color: white;
}
section article p {
  height: 90px;
  margin-top: -13px;
  color: white;
}
aside {
  float: right;
  width: 300px;
}
aside > ul {
  list-style-type: none;
}
aside > ul > li {
  border: 2px solid #4E0E81;
  border-radius: 5px;
  padding: 10px;
  width: 255px;
  margin-left: -22px;
  margin-bottom: 15px;
  height: 110px;
}
aside > ul > li:first-of-type {
  margin-top: 35px;
  height: 100px;
}
aside > ul > li:last-of-type {
  height: 100px;
}
aside > ul > li h2 {
  margin: 0;
  font-size: 15px;
  color: white;
}
aside > ul > li p {
  margin-top: 10px;
  font-size: 12px;
  color: white;
}
aside > ul > li p a {
  color: #A68FB6;
  text-decoration: none;
}
aside > ul > li ul {
  list-style-image: url(images/1.png);
}
aside > ul > li ul li {
  padding: 0;
  height: 20px;
  margin: 0;
  color: white;
}
/*# sourceMappingURL=ForumPost-CSS.css.map */