body {
    background-color:#a9a9a9;
}
body > header h1{
    text-align:center;
    color:white;
    font-size:40px;
}
ul{
  text-align:center;
  list-style-type:none;
}
ul li a{
    color:white;
    text-decoration:none;
    font-weight:600;
    font-size:20px;
}
ul li a:hover{
    text-decoration:underline;
}
a.current{
    background-color:#d2d2d2;
}
section header{
    color:white;
    font-size:22px;
}
section footer{
    font-size:13px;
}
section footer a{
    color:black;
    text-decoration:none;
}
body > footer{
    text-align:center;
}