body {
}
#general {
    width:610px;
    height:410px;
    border:1px solid #808080;

}
h1 {
    text-align:center;
    font-size:25px;
    margin:5px;
}
a {
    color:#00aef0;
}
hr {
    width:95%;
    height:1px;
    background-color:black;
}
#laptopi {
    width:380px;
    height:340px;
    border:1px solid black;
    padding:2px;
    margin-left:10px;
    float:left;
}
img {
    width:85px;
    height:50px;
    float:left;
}
.left {
    width:155px;
    height:90px;
    float:left;
}
.right {
    width:155px;
    height:90px;
    float:left;
}
span {
    font-family:Georgia;
    margin-top:10px;
    margin-left:5px;
    display:block;
    font-size:13px;
}
.minmax {
    float:left;
    font-size:18px;
    font-weight:500;
    font-family:Georgia;
    padding:10px;
    margin-top:20px;
}
.scroler {
    margin:12px;
}